#clockcontainer {
  position:relative;
  margin: auto;
  height: 500px;
  width: 500px;
  background: url(clock.png) no-repeat;
  background-size: 100%;
}
#hour,#second,#minute {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin:bottom;
}
#hour {
  width: 1.2%;
  height: 15%;
  top: 35%;
  left: 49.5%;
  opacity: 0.8;
}  
#second {
  width: 1.5%;
  height: 30%;
  top: 20%;
  left: 49.5%;
  opacity: 0.8;  
} 
#minute {
  width: 1.3%;
  height: 20%;
  top: 31%;
  left: 49.3%;
  opacity:0.8;
} 